/*初始化样式*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

image {
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #3c3c3c;
}

i {
    font-style: normal;
}

button {
    outline: none;
}

body {
    font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
    color: #f4f4f4;
    background-color: #f4f4f4;
}

table {
    /*边框模式，合并的模式*/
    border-collapse: collapse;
}

th, td {
    padding: 0px;
}

/*清除浮动三件套*/

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

/*浮动*/

.fl {
    float: left;
}

.fr {
    float: right;
}

/*div居中*/

.leayer {
    width: 1210px;
    margin: 0 auto;
}

.w {
    margin: 0 auto;
}